.lds-grid {
    display: inline-block;
    position: absolute;
    left:40%;
    top:40%;
    width: 280px;
    height: 280px;
  }
  .lds-grid img {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 8px;
    background: #901C1C;
    animation: lds-grid 3s linear 0s 3;
  }
  
  .lds-grid img:nth-child(1) {
    top: 20px;
    left: 20px;
    animation-delay: 0s;
  }
  .lds-grid img:nth-child(2) {
    top: 20px;
    left: 80px;
    animation-delay: -0.3s;
  }
  .lds-grid img:nth-child(3) {
    top: 20px;
    left: 140px;
    animation-delay: -0.9s;
  }
  .lds-grid img:nth-child(4) {
    top: 80px;
    left: 20px;
    animation-delay: -0.4s;
  }
  .lds-grid img:nth-child(5) {
    top: 80px;
    left: 80px;
    animation-delay: -0.8s;
  }
  .lds-grid img:nth-child(6) {
    top: 80px;
    left: 140px;
    animation-delay: -1.1s;
  }
  .lds-grid img:nth-child(7) {
    top: 140px;
    left: 20px;
    animation-delay: -0.6s;
  }
  .lds-grid img:nth-child(8) {
    top: 140px;
    left: 80px;
    animation-delay: -1.4s;
  }
  .lds-grid img:nth-child(9) {
    top: 140px;
    left: 140px;
    animation-delay: -0.2s;
  }

  @keyframes lds-grid {
    0%, 100% {opacity: 1; transform:scale(1);}
    50% {opacity: 0.1; transform:scale(0.6);}
  }
